<html>
    <body>
        <form action="/manufacturers/<%= id %>/delete-form" method="post">
            Are you sure?<input type="hidden" id="id" name="id" value="Confirm"> 
             <input type="submit" value="Confirm" >
          </form>
           
    </body>
</html>
